/* Main.css */
.main1{
    background-color: #fffef2;
}

.main-text{
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main-text .main-text1{
    font-size: 14px;
    color: #333333;
    margin: 0 0 20px;
}

.main-text .main-text2{
    font-size: 24px;
    line-height: 1.2;
    color: #333333;
    margin: 0 0 5px;
}

.main-text .main-text3{
    font-size: 16px;
    color: #333333;
    margin: 0 0 30px;
}

.main-text .main-text4{
    font-size: 16px;
    color: #333333;
    margin: 0 0 30px;
}

.main-text .main-link{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: #333333;
    font-size: 14px;
    border: 1px solid #333333;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 700;
}

.main-text img{
    width: 20px;
    height: 20px;
}

.main2{
    background-color: #fffef2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main2-type{
    overflow: hidden;
}

.main2-type li{
    width: 33.33%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.main2-type ul{
    width: 300%;
    display: flex;
}

.main2-type li h2{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #333;
}

.main2-type li p{
    color: #333;
}

.main3{
    background-color: #fffef2;
    padding-bottom: 50px;
}


.main3-text{
    padding-left: 20px;
    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main3-text img{
    width: 20px;
    height: 20px;
}

.main3-text .main3-text1{
    font-size: 24px;
    color: #333333;
    margin: 0 0 20px;
}

.main3-text .main3-text2{
    font-size: 18px;
    line-height: 1.2;
    color: #333333;
    margin-top: 40px;
}

.main3-text .main-link{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: #333333;
    font-size: 14px;
    border: 1px solid #333333;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 700;
}

.main4{
    background-color: #fffef2;
}

.main4-text{
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main4-text1{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main4-text2{
    font-size: 25px;
    margin-bottom: 30px;
}

.main4-text3{
    font-size: 15px;
}

.main4-text img{
    width: 20px;
    height: 20px;
}

.main4-text .main-link{
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    margin-top: 30px;
    color: #333333;
    font-size: 18px;
}

.main4-type{
    overflow: hidden;
}

.main4-type li{
    width: 33.33%;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.main4-type ul{
    width: 300%;
    display: flex;
}

.main4-type li h2{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #333;
}

.main4-type li p{
    color: #333;
}

.main5{
    background-color: #fffef2;
    padding-top: 100px;
}

.main5-text{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main5-text .main5-text2{
    line-height: 1.2;
}

.main5-text img{
    width: 20px;
    height: 20px;
}

.main5-text .main5-text1{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
}

.main5-text .main5-text2{
    font-size: 26px;
    padding-bottom: 10px;
    color: #333333;
    margin-top: 40px;
}

.main5-text .main5-text3{
    font-size: 18px;
    padding-bottom: 5px;
    color: #333333;
    margin-top: 40px;
}

.main5-text .main-link{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: #333333;
    font-size: 14px;
    border: 1px solid #333333;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 700;
}

.main5-banner{
    padding-left: 20px;
    padding-bottom: 20px;
}

.main6{
    background-color: #fffef2;
    padding-top: 60px;
}

.main6-banner{
    padding-right: 30px;
    padding-bottom: 20px;
}

.main6-text img{
    width: 20px;
    height: 20px;
}

.main6-text{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main6-text .main6-text1{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
}

.main6-text .main6-text2{
    font-size: 26px;
    padding-bottom: 10px;
    color: #333333;
    margin-top: 40px;
    line-height: 1.2;
}

.main6-text .main6-text3{
    font-size: 18px;
    padding-bottom: 5px;
    color: #333333;
    margin-top: 40px;
    line-height: 1.5;
}

.main6-text .main-link{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: #333333;
    font-size: 14px;
    border: 1px solid #333333;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 700;
}

.main7{
    background-color: #fffef2;
    padding-top: 100px;
}

.main7-text{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main7-text img{
    width: 20px;
    height: 20px;
}

.main7-text .main7-text1{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
}

.main7-text .main7-text2{
    font-size: 26px;
    padding-bottom: 10px;
    color: #333333;
    margin-top: 40px;
    line-height: 1.2;
}

.main7-text .main7-text3{
    font-size: 18px;
    padding-bottom: 5px;
    color: #333333;
    margin-top: 40px;
    line-height: 1.5;
}

.main7-text .main-link{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: #333333;
    font-size: 14px;
    border: 1px solid #333333;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 700;
}

.main7-banner{
    padding-left: 20px;
    padding-bottom: 20px;
}

.main8{
    background-color: #fffef2;
    padding-top: 60px;
}

.main8-banner{
    padding-right: 30px;
    padding-bottom: 20px;
}

.main8-text img{
    width: 20px;
    height: 20px;
}

.main8-text{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main8-text .main8-text1{
    font-size: 26px;
    padding-bottom: 10px;
    color: #333333;
    margin-top: 10px;
    line-height: 1.2;
}

.main8-text .main8-text2{
    font-size: 18px;
    padding-bottom: 5px;
    color: #333333;
    margin-top: 40px;
    line-height: 1.5;
}

.main8-text .main-link{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: #333333;
    font-size: 14px;
    border: 1px solid #333333;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 700;
}

.main9{
    background-color: #fffef2;
    padding-top: 10px;
}

.main9-text{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.main9-text img{
    width: 20px;
    height: 20px;
}

.main9-text .main9-text1{
    font-size: 26px;
    padding-bottom: 10px;
    color: #333333;
    margin-top: 40px;
    line-height: 1.2;
}

.main9-text .main9-text2{
    font-size: 18px;
    padding-bottom: 5px;
    color: #333333;
    margin-top: 40px;
    line-height: 1.5;
}

.main9-text .main-link{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    color: #333333;
    font-size: 14px;
    border: 1px solid #333333;
    border-width: 1px;
    box-sizing: border-box;
    font-weight: 700;
}

.main9-banner{
    padding-left: 20px;
    
}

.language{
    background-color: #fffef2;
    padding-top: 200px;
    padding-bottom: 200px;
}

.language-text{
    text-align: center;
}

.language-text .music{
    font-size: 25px;
    line-height: 1.5;
    color: #333;
}

.approval{
    background-color: #f6f5e8;
}

.approval-sub{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 40px;
}

.approval-1{
    line-height: 1.7;
    padding-bottom: 20px;
}

.approval-1 .ptext{
    font-size: 15px;
    font-weight: 600;
}

.approval-1 .ptext2{
    color: #333;
    font-size: 15px;
}

.approval-2{
    line-height: 1.7;
    
}

.approval-2 .ptext{
    font-size: 15px;
    font-weight: 600;
}

.approval-2 .ptext2{
    color: #333;
    font-size: 15px;
}


@media screen and (min-width:768px){
    .main1{
        background-color: #F6F5E8;
    }

    .main-text{
        width: 50%;
        margin: auto;
    }

    .main2{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .main2-type ul{
        width: 150%;
    }

    .main3-text{
        width: 50%;
        margin: auto;
    }

    .main3-sub{
       display: flex;
    }

    .main3-sub.right{
        flex-direction: row-reverse;
    }

    .main4{
        padding-top: 10px;
        padding-bottom: 80px;
    }

    .main4-text{
        text-align: center;
    }

    .main4-text .main-link{
        justify-content: center;
    }

    .main4-type ul{
        width: 150%;
    }
    
    .main5-text{
        line-height: 1;
        width: 50%;
        padding-left: 200px;
    }

    .main5-text .main5-text2{
        font-size: 35px;
        line-height: 1.1;
    }

    .main5-text .main5-text3{
        line-height: 1.7;
    }

    .main5-banner{
        padding-left: 150px;
        padding-bottom: 100px;
    }

    .main6-text{
        line-height: 1;
        width: 50%;
        padding-left: 200px;
    }

    .main6-text .main6-text2{
        font-size: 35px;
        line-height: 1.1;
    }

    .main6-text .main6-text3{
        line-height: 1.7;
    }

    .main6-banner{
        padding-right: 150px;
        padding-bottom: 50px;
    }

    .main7-text{
        line-height: 1;
        width: 50%;
        padding-left: 200px;
    }

    .main7-text .main7-text2{
        font-size: 35px;
        line-height: 1.1;
    }

    .main7-text .main7-text3{
        line-height: 1.7;
    }

    .main7-banner{
        padding-right: 150px;
        padding-bottom: 50px;
    }

    .main8-text{
        line-height: 1;
        width: 50%;
        padding-left: 200px;
    }

    .main8-text .main8-text1{
        font-size: 35px;
        line-height: 1.1;
    }

    .main8-text .main8-text2{
        line-height: 1.7;
    }

    .main8-banner{
        padding-right: 150px;
        padding-bottom: 50px;
    }

    .main9-text{
        line-height: 1;
        width: 50%;
        padding-left: 200px;
    }

    .main9-text .main9-text1{
        font-size: 35px;
        line-height: 1.1;
    }

    .main9-text .main9-text2{
        line-height: 1.7;
    }

    .main9-banner{
        padding-left: 150px;
        padding-bottom: 50px;
    }

    .language-text{
        line-height: 1.9;
    }

    .language-text .music{
        font-size: 30px;
        font-weight: 500;
    }

    .approval-sub{
        display: flex;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-right: 100px;
        padding-left: 100px;
    }

    .approval-1{
        margin-right: 30px;
    }

    .approval-1 .ptext{
        padding-bottom: 8px;
    }

    .approval-2{
        margin-left: 30px;
    }

    .approval-2 .ptext{
        padding-bottom: 8px;
    }
}

@media screen and (min-width:1280px){
    .main{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .main1{
        display: flex;
        flex-direction: row-reverse;
    }

    .main-banner{
        width: 50%;
    }
    
    .main-banner img{
        height: 100%;
        object-fit: cover;
    }

    .main-text{
        box-sizing: border-box;
        padding-top: 80px;
        padding-left: 200px;
        padding-right: 200px;
    }

    .main2-type ul{
        width: 1400px;
        margin: 0 auto;
    }

    .main3{
        padding-bottom: 100px;
    }

    .main3-sub{
        display: flex;
    }

    .main3-sub .right{
        flex-direction: row-reverse;
    }

    .main3-banner{
        width: 50%;
        padding-right: 0;
    }

    .main3-text{
        width: 40%;
        box-sizing: border-box;
        padding-left: 70px;
        padding-right: 70px;
    }

    .main3-text .main3-text1{
        font-size: 35px;
        line-height: 1.2;
    }

    .main3-text .main3-text2{
        line-height: 1.3;
    }

    .main4-type ul{
        width: 1400px;
        margin: 0 auto;
    }

    .main5-sub{
        display: flex;
    }

    .main5-text{
        width: 40%;
        box-sizing: border-box;
        padding-left: 70px;
        padding-right: 70px;
    }

    .main5-text .main5-text2{
        font-size: 35px;
        line-height: 1.2;
    }

    .main5-text .main5-text3{
        line-height: 1.3;
    }

    .main5-banner{
        width: 60%;
        padding-right: 0;
    }
    
    .main6-sub{
        display: flex;
    }

    .main6-banner{
        width: 60%;
        padding-right: 0;
    }

    .main6-text{
        width: 40%;
        box-sizing: border-box;
        padding-left: 70px;
        padding-right: 70px;
    }

    .main6-text .main6-text2{
        font-size: 35px;
        line-height: 1.2;
    }

    .main6-text .main6-text3{
        line-height: 1.3;
    }

    .main7-sub{
        display: flex;
    }

    .main7-text{
        width: 40%;
        box-sizing: border-box;
        padding-left: 70px;
        padding-right: 70px;
    }

    .main7-text .main7-text2{
        font-size: 35px;
        line-height: 1.2;
    }

    .main7-text .main7-text3{
        line-height: 1.3;
    }

    .main7-banner{
        width: 60%;
        padding-right: 0;
    }

    .main8-sub{
        display: flex;
    }

    .main8-banner{
        width: 60%;
        padding-right: 0;
    }

    .main8-text{
        width: 40%;
        box-sizing: border-box;
        padding-left: 70px;
        padding-right: 70px;
    }

    .main8-text .main8-text1{
        font-size: 35px;
        line-height: 1.2;
    }

    .main8-text .main8-text2{
        line-height: 1.3;
    }

    .main9{
        padding-top: 100px;
    }

    .main9-sub{
        display: flex;
    }

    .main9-text{
        width: 40%;
        box-sizing: border-box;
        padding-left: 70px;
        padding-right: 70px;
    }

    .main9-text .main9-text1{
        font-size: 35px;
        
    }

    .main9-text .main9-text2{
        line-height: 1.5;
    }

    .main9-banner{
        width: 60%;
        padding-right: 0;
    }

    .approval-sub{
        padding-left: 350px;
    }

    .approval-1{
        margin-right: 100px;
        padding-right: 120px;
    }

    .approval-2{
        margin-right: 120px;
        padding-right: 130px;
    }

}