#HeadUtils {
    display: flex;
    gap: 16px;
}

#HeadUtils a{
    color: #222;
}

#HeadUtils .btn-search {
    font-size: 16px;
    color: #222;
    cursor: pointer;
}

@media screen and (min-width:768px){
    #headutils a{
        color: #222;
    }
}
