.header_left{
    display: none;
}

.header_right #headutils{
    display: none;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 80px;
    background-color: #fffef2;
}

.header_inner .logo{
    width: 90px;
}

.aesop_search_modal {
    position: fixed;
    inset: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .aesop_modal_content {
    background: #fff;
    padding: 2.5rem 2rem;
    border: 1px solid #111;
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .aesop_input {
    width: 100%;
    padding: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 1px solid #111;
    color: #111;
  }
  
  .aesop_close {
    background: none;
    border: none;
    color: #111;
    font-size: 15px;
    cursor: pointer;
    text-decoration: underline;
  }

.mobileicon ul{
    display: flex;
    gap: 24px;
}

.mobileicon li{
    width: 18px;
}

.mobileicon .cart{
    width: auto;
}

.mobileicon .button button{
    border: 0;
    background-color: transparent;
}

@media screen and (min-width:768px){
    .mobileicon{
        display: none;
    }

    .header_inner{
        position: relative;
    }

    .header_inner .logo{
        width: 100px;
        height: 30px;
        position: absolute;
        bottom: -100px;
    }

    .header_left{
        display: block;
        display: flex;
    }

    .header_left .tabletmenu ul{
        display: flex;
        gap: 15px;
    }

    .header_left .gnb{
        display: none;
    }

    .header_left .search{
        width: 18px;
        margin-left: 15px;
        margin-top: 2px;
    }

    .header_left .search_button{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    
    .header_right #headutils{
        display: flex;
        gap: 15px;
    }
}
    @media screen and (min-width:1280px){
        .header_left{
            align-items: center;
        }
        .tabletmenu{
            display: none;
        }

        .header_inner .logo{
            width: 120px;
            height: 40px;
        }

        .header_left .gnb{
            display: block;
        }
    }